body {
    background-color: rgb(0, 204, 255);
}
#NomePrincipal{
    color: darkblue;
    font-style: oblique;
}
.HeaderLista{
    color: blueviolet;
    font-style: italic;
    font-weight: 200;
}
.headerLista2{
    font-weight: 500;
    color: black;
}

#minhaDescricao{
    color: beige;
    font-style: inherit;

}
